<h1>Login Page</h1>

<%= form_for @user, url: login_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br></br>

  <%= f.label :password %>
  <%= f.password_field :password %><br></br>

  <%= f.submit "log in" %>

<% end %>