<h2> session login page</h2>


<%= form_for @user, url: '/login', method: 'post' do |f|%>


 <%= f.label :name %>
 <%= f.text_field :name %>

 <%= f.label :password %>
 <%= f.text_field :password %>

 <%= f.submit "log in"%>

	<%end%>
