<h2>Log In</h2>

<%= form_for @user, url: login_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit 'log in' %>
  <%= link_to 'sign up', signup_path %>
<% end %>
