<h1>Login</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag ('/login') do %>
  <div class="">
    <%= text_field_tag 'user[name]', nil, placeholder: 'Username'%>
    <%= text_field_tag 'user[password]', nil, placeholder: 'Password' %>

    <%= submit_tag 'Login' %>
  </div>
<% end %>
