<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_for @user, url: sessions_path do |f| %>
  <%= f.text_field :name %>
  <%= f.password_field :password %>
  <%= f.submit "Log In" %>
<% end %>
