
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag '/sessions', method: 'POST' %>

  <%= label_tag "Username" %>
  <%= text_field_tag 'user[username]' %><br></br>
  <%= label_tag "Password" %>
  <%= password_field_tag 'user[password]' %><br></br>
  <%= submit_tag "Login" %>
