<h1>New Session - Login Page </h1>

<!--<%#= form_tag login_create_path do %>
  <input name=name>
  <input type=submit value='login'>
<%# end %>-->
<%= form_for :user, url: '/users' do |f| %>
  Name: <%= f.text_field :name %><br>
  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>
<% end %>