<h2>Log In</h2><br>

<%= form_for @user, login_path, method: :post do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.submit "login" %>

<% end %>
