<h1>Sign Up</h1>

<% if !flash[:message].empty?  %>
  <%= flash[:message] %>
<% end %>

<%= form_for(@user, :url => signup_post_path) do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %>
 <%= f.label :password %>
 <%= f.password_field :password %>
 <%= f.label :password_confirmation %>
 <%= f.password_field :password_confirmation %>
 <%= f.submit %>
<% end %>
