<h2> user Sign Up form </h2>


<%= form_for @user do |f|%>


 <%= f.label :name %>
 <%= f.text_field :name, placeholder: "name" %>

 <%= f.label :password %>
 <%= f.text_field :password, placeholder: "password" %>

 <%= f.label :password_confirmation %>
 <%= f.text_field :password_confirmation, placeholder: "password confirmation" %>


 <%= f.submit "create"%>

	<% end %>
