<h1>Sign Up</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for @user, url: signup_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br><br>

  <%= f.submit "Create New User" %>
<% end %>