<h1>New User</h1>
<%= form_for :user, url: '/login' do |f| %>
  Username: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  
  <%= f.submit "Log In" %> Or <%= link_to new_user_path%>
<% end %>