<h1>Users#new</h1>

<%= form_for :user, url: '/users' do |f| %>
  Name: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>



<p>Find me in app/views/users/new.html.erb</p>
