<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  Username: <%= f.text_field :name %>
  Password: <%= f.text_field :password %>
  Confirm Password: <%= f.text_field :password_confirmation %>
  <%= f.submit "Signup" %>
<% end %>
