<form action='/login' method='post'>
  <label>Username: </label>
  <input type='text' name='name'>
  
  <br>
  <br>
  
  <label>Password: </label>
  <input type='password' name='password'>
  
  <br>
  <br>
  
  <input type='submit'>
</form>

<%= form_for :user, url: '/users' do |f| %>

  Username: <%= f.text_field :name %>
  
  Password: <%= f.password_field :password %>
  
  Password Confirmation: <%= f.password_field :password_confirmation %>
  
  <%= f.submit "Submit" %>
<% end %>