<h1>Please sign up here to create an account.</h1>

<!-- This can probably be refactored with a partial, along with the sessions/new.html.erb file. -->
<%= form_tag signup_path do %>
  <p>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation, nil, required: true %>
  </p>
  <%= submit_tag "Sign Up" %>
<% end %>