<h1>Hello World!</h1>
<% form_for @user, controller: 'users', action: 'create' do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.label :password %>
    <%= f.text_field :password %>
    <%= f.label :password_confirmation %>

     <%= f.password_field :password_confirmation %>
     <%= f.submit "Submit" %>

<% end %>
