<h2>Signup</h2>

<p>Time to create an account to enter.</p>
<%= form_for @user do |f| %>
	Name: <%= f.text_field :name %> <br><br>
	Password: <%= f.password_field :password %> <br><br>
	Password Confirmation: <%= f.password_field :password_confirmation %> <br><br>

	<%= f.submit %>

<% end %> 