<h1>Sign Up:</h1>

<%= form_for :user, url: users_path, method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <br><br>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <br><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <br><br>

    <%= f.submit 'Sign Up' %>
<% end %>

<br><br>

<p>Existing user? <%= link_to(controller: 'sessions', action: 'create') { 'Log In' } %>
