<!DOCTYPE html>
<html>
<head>
  <title>HasSecurePasswordLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<br>
<%= link_to 'Log Out - This link is here even if you are not logged out', logout_path %>
</html>
